*{
    box-sizing: border-box;
}

body{
    background-image: url("Images/14383.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: "Poppins",sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;

}
  

a:link{
    color: black;

}
#b:hover{
    color: rgb(252, 152, 169);
}
#c:hover{
    color: rgb(97, 59, 235);
}
#d:hover{
    color: red;
}
.carousel{
    margin: top="4";

}
#k{
    margin-top: 5px;
}
#n{
    margin-top: 5px;
    position: relative;
    left: 120px;
}
#staticBackdropLabel{
    color: red;
}
#z{
    color: rgb(115, 17, 160);
}
#s{
    color: crimson;
    background-color:yellow;
    word-spacing: 7px;
     position: relative;
    top: 10px;
}
#font-face{
    font-family: abc;
    src: u("https://fonts.gstatic.com")
}
#o{
    font-family: abc;
}
#song{
    margin-top: 1px;
    position: relative;
    left: 120px;
}
#game{
    position: relative;
    left: 10px;
}

#font-face{
    font-family: game;
    src: url("https://fonts.googleapis.com");
}
@keyframes animate{
   0%{
       color:green;


   }
   50%{
       color:  rgb(235, 84, 25);
       ;

     }
  100%{
    color:blue;

       
     }
}
